.moneyList{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.moneylink{
  text-align: center;
  width: 280px;
  height: 40px;
  padding: 10px;
  border: 2px solid black;
  margin: 5px;
  border-radius: 30px;
  color: black;
  text-decoration: none;
}

.moneylink:hover{
  background-color: blue;
}